.main-content {
   background: grey;
}

table {
   width: 100%;
}

.mat-form-field {
   font-size: 14px;
   width: 100%;
}

td,
th {
   width: 25%;
}

.mat-button {
   background: grey;
}

.mat-column-id {
   width: 5% !important;
}

.mat-column-userId {
   width: 5% !important;
}

.mat-column-title {
   width: 30% !important;
}

.mat-column-body {
   width: 50% !important;
}

.mat-column-actions {
   width: 5% !important;
}
h1 {
   font-weight: 300;
}